@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


body{
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgb(240, 85, 128) 50%, rgb(115, 219, 225) 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
.campo-batalla{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(0, 0, 0);
    padding: 30px;
    border-radius: 50px;
}

.caja-batala{
    margin: 25px;
}

.text-mensajes{
    font-size: 45px;
}

.img-batalla{
    border-radius: 100%;
}

.btn-ataques{
    width: 200px;
    border-radius: 50%;
    margin: 20px;
}

.btn-ataques:hover{
    border: 25px solid rgb(97, 15, 84);
    cursor: pointer;
    margin: 18px;
}